.day-of {
  background: #333;
  min-height: 800px;
  text-align: center;
}

.day-of header {
  color: #fff;
  font-size: 40px;
  font-weight: 100;
  padding: 50px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.day-of-text {
  font-size: 25px;
  color: #aaa;
  margin-top: 20px;
  font-weight: 100;
  width: 60%;
  display: inline-block;
}

.day-of-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0 5%;
}

.day-of-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 50px;
}

.day-of-item h3 {
  margin-bottom: 50px;
  font-size: 25px;
  color: #aaa;
  text-decoration: underline;
}

.day-of-pic {
  width: 60%;
  height: 60%;
}

.day-of-title {
  color: #fff;
  font-weight: 700;
  margin: 20px 0;
}

.day-of-desc {
  color: #fff;
  text-align: center;
}

@media (max-width: 1224px) {
  .day-of-text {
    width: 80%;
    padding: 20px 0;
    min-height: 300px;
  }

  .day-of-content {
    padding: 50px 0;
  }
}
