.hero {
  min-height: 580px;
  background: #ffffff url("../../images/bride-and-groom.jpg") no-repeat center bottom;
  background-size: cover;
}

.hero-welcome-container {
  text-align: center;
  padding-top: 8%;
}

.jessica-plus-anh {
  font-weight: 100;
  font-size: 60px;
  text-shadow: 0px 1px 1px #333;
  color: #fff;
}

.wedding-date {
  width: 400px;
  color: #fff;
  font-size: 100px;
  display: inline-block;
}

.hero-rsvp-container {
  position: absolute;
}
