.other-party {
  min-height: 500px;
}

.other-party header {
  background:#ddd;
  font-size: 40px;
  font-weight: 100;
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.other-party-images {
  display: flex;
}

.other-party-image {
  width: 50%;
  height: 50%;
}

.other-party-descriptions {
  display: flex;
  justify-content: space-around;
  padding: 15px 0;
  height: 20px;
  align-items: center;
}

.description-text {
  color: #aaa;
}

@media (max-width: 1224px) {
  .other-party-images {
    flex-direction: column;
  }

  .other-party-image {
    width: 100%;
    height: 100%;
  }
}
