.get-money {
  min-height: 580px;
  background: linear-gradient(
                 rgba(20,20,20, .8),
                 rgba(20,20,20, .8)
               ), url("../../images/hammock.jpg") no-repeat center bottom;
  background-size: cover;
}

.registry-container {
  display: flex;
  padding-top: 75px;
}

.registry-section {
  flex: 1;
}

.get-money header {
  color: #fff;
  font-size: 40px;
  font-weight: 100;
}

.get-money hr {
  width: 100px;
  margin-left: 40px;
  display: inline-block;
}

.registry-text {
  font-size: 25px;
  color: #aaa;
  margin-top: 20px;
  font-weight: 100;
}

.hong-bao {
  width: 100px;
  text-align: center;
  margin-top: 20px;
}

.registry-section.payments {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.payment-anchor {
  border: 2px solid #aaa;
  border-radius: 10px;
  margin-bottom: 20px;
  transition: border-width 0.1s ease;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.payment-anchor:hover {
  border-width: 5px;
}

.payment-vendor {
  display: block;
  width: 200px;
  padding: 20px;
}
