.flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-space-around {
  justify-content: space-around;
}

.hero-rsvp {
  min-height: 580px;
  background: #ffffff url("../../images/rsvp-hero.jpg") no-repeat center bottom;
  background-size: cover;
  text-align: center;
}

.hero-rsvp-text {
  display: inline-block;
  margin-top: 12%;
}

.attendees-and-lodging-confirmation {
  display: flex;
  margin-bottom: 30px;
}

.attendees-container {
  flex: 2;
}

.rsvp-lodging {
  text-align: center;
  flex: 1;
}

.confirmation-attendee-list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
}

.confirmation-attendee {
  width: 20%;
  height: 70px;
  padding-left: 70px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  margin: 0 10px 13px;
  position: relative;
}

h1 {
  font-size: 36px;
  font-weight: bold;
}

h2 {
  font-size: 20px;
}

hr {
  color: #ddd;
  border: solid 1px #ddd;
}

hr.attendee-hr {
  border-style: dashed;
  margin: 20px;
}

.tips-to-prepare-square {
  background-color: #eee;
  height: 200px;
  width: 200px;
  padding: 50px;
  vertical-align: center;
  text-align: center;
}

.tips-to-prepare-square h2 {
  font-size: 18px;
  font-weight: bold;
}

.rausch-background {
  background-color: #f57670;
  color: #fff;
}

.rsvp-confirmation__header {
  width: 500px;
  color: #fff;
  text-align: center;
  font-size: 75px;
}

.rsvp-confirmation__arrow {
  margin-top: 225px;
  opacity: 0.6;
}

.rsvp-confirmation__calendar {
  width: 66px;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 1224px) {
  .rsvp-confirmation__header {
    width: 100%;
  }

  .attendees-and-lodging-confirmation {
    flex-direction: column;
  }

  .attendees-container {
    margin-bottom: 30px;
  }

  .confirmation-attendee-list {
    flex-direction: column;
  }

  .confirmation-attendee {
    width: 78%;
    margin-left: 0;
    margin-right: 0;
  }

  .rsvp-lodging {
    text-align: left;
  }

  .tips-to-prepare-square {
    margin-bottom: 20px;
  }

  .lodging-nights {
    text-align: center;
  }
}
