.flex {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
}

.flex-space-between {
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

.attendees-container {
  flex-grow: 2;
  padding-right: 20px;
}

.attendee {
  outline: 2px solid #ddd;
}

.spacing-right {
  margin-right: 40px;
}

h1 {
  font-size: 36px;
  font-weight: bold;
}

h2 {
  font-size: 20px;
}

hr {
  color: #ddd;
  border: solid 1px #ddd;
}

hr.attendee-hr {
  border-style: dashed;
}

.tips-to-prepare-square {
  background-color: #ddd;
  height: 200px;
  width: 200px;
  padding: 50px;
  vertical-align: center;
  text-align: center;
}

.rausch-background {
  background-color: #f57670;
  color: #fff;
}
